 <div class = "container">
 	<% if @mechanic.errors.any? %>
	    <div id="error_explanation">
		    <div class="alert alert-danger">
		      The form contains <%= pluralize(@mechanic.errors.count, "error") %>.
		    </div>
		    <ul>
			    <% @mechanic.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			    <% end %>
		    </ul>
	    </div>
	<% end %>

 	<%= form_for @mechanic do |f|%>
 	<div class = "row">
 		<div class = "col-md-12 mainTitle">
 			<%= @name %>
 		</div>
 	</div>
 		
 	<div class = "row">
 		<div class = "col-md-12 title">
 			 Description 
 		</div>
 	</div>
	
	<div class = "row">
 		<div class = "col-md-12" data-attr-name= "Mechanic[text]">
 			<%= @description %>
 		</div>
 		<div class = "col-md-12 hidden" id = "description" >
 			<%=f.text_area :text, value: @mechanic.text , class:  'form-control'%>
 		</div>
 	</div>
 	
	<div class = "row">
 		<div class = "col-md-12 title">
 			Examples
 		</div>
 	</div>
 	<%c = 0%>
 	
	 <%=f.fields_for :examples do |g|%>
	 	<%if @examples[c].title  %>
		 	<div class = "row title" data-attr-name= "Mechanic[exapmles][<%=c%>][title]" >
		 		<div class = "col-md-12 subTitle" >
		 			<%= @examples[c].title %>
		 		</div>
		 	</div>
		
		 	<div class = "row">
		 		<div class = "col-md-8" data-attr-name= "Mechanic[exapmles][<%=c%>][text]">
		 			<%= @examples[c].text %>
		 		</div>
		 		<div class = "hidden col-md-8" id = "exampleText<%=c%>">
		 			<%= g.text_area :text, class: 'form-control' %>
		 		</div>

		 		<div class = "col-md-4" data-attr-name= "Mechanic[exapmles][<%=c%>][thumbnail]">
		 			<%=image_tag @examples[c].thumbnail.url%>
		 		</div>
		 	</div>
	 	<%else%>
			<div class = "row hidden" id = <%="example#{c}"%> >
				<div class = "col-md-12">
					<%=g.text_field :title, :placeholder => "Game's Title", class:  'form-control'%>
				</div>
				<div class = "col-md-8">
					<%=g.text_area :text, :placeholder => "descripe the instance here", class:  'form-control'%>
				</div>
				<div class = "col-md 4">
					Insert a picture of the mechanic in the game
					<%=g.file_field :thumbnail %>
				</div>
				<div class = "col-md-12">
					<%=g.text_field :link, :placeholder => "Link to game", class:  'form-control'%>
				</div>
			</div>
	 	<%end%>
	 	
	 	<%c = c +1%>
	 <%end%>
	 
	 <%if @showLinkE %>
	 	<a onclick="showExample(<%=@mechanic.examples.length%>);">Add Another Example</a>
	 <%end%>
	 
	 <div class = "row">
 		<div class = "col-md-12 title">
 			Related Mechanics
 		</div>
 	</div>

	 <div class = "row">
	 	<ul>
			<% @related.each do |x| %>
				<li>
					<%= link_to x.title, x.mechanic %>
				</li>
			<%end%>
		</ul>
	</div>

	<div class = "row">
 		<div class = "col-md-12 title">
 			Keywords
 		</div>
 	</div>

	<div class = "row">
		<div class = "col-md-12">
			<ul>
				 <%c = 0%>
				 <%=f.fields_for :keywords do |g|%>
						<%if @mechanic.keywords[c].title %>
							<li><%=link_to @mechanic.keywords[c].title, @mechanic.keywords[c] %></li>
						<%else%>
							<li class = "hidden" id = "keyword<%=c%>"><%=g.text_field :title %></li>
						<%end%>
						<%c = c +1%>
				<%end%>
			</ul>
		</div>
	</div>
	<%if @showLinkK %>
	 	<a onclick="showKeyword(<%=@mechanic.keywords.length%>);">Add Another Keyword</a>
	 <%end%>
	<div class = "row">
 		<div class = "col-md-12 title">
 			Additional Information
 		</div>
 	</div>

 	<div class = "row">
	 	<ul>
			<%c = 0%>
			<%=f.fields_for :notes do |g|%>
				<%if @mechanic.notes[c].text  %>
					<li><%=link_to @mechanic.notes[c].text, '#' %></li>
				<%else%>
					<li class = "hidden" id = "note<%=c%>"><%=g.text_field :text, :placeholder => "Add Note", class:  'form-control'%></li>
				<%end%>
				<%c = c +1%>
			<%end%>
			<% @examples.each do |x| %>
				<%if x.title != "" && x.title != nil %>
					<li>
						<a href= <%=x.text%> > <%= "learn more about #{x.title} here!"%> </a>
					</li>
				<%end%>
			<%end%>
		</ul> 
	<%if @showLinkN %>
	 	<a onclick="showNote(<%=@mechanic.notes.length%>);">Add Another Note</a>
	 <%end%>
	</div>
	<%=f.submit "Commit Changes", class: "btn btn-primary", id: "button"%>

<%end%>

 </div>