 <div class = "container">
 	<div class = "row">
 		<div class = "col-md-12 mainTitle">
 			<%= @name %>
 		</div>
 	</div>
 		
 	<div class = "row">
 		<div class = "col-md-12 title">
 			 Description 
 		</div>
 	</div>
	
	<div class = "row">
 		<div class = "col-md-12">
 			<%= @description %>
 		</div>
 	</div>
 	
	<div class = "row">
 		<div class = "col-md-12 title">
 			Examples
 		</div>
 	</div>
 	<% @examples.each do |x| %>
		<%if x.title != nil%> 
			 <div class = "row">
		 		<div class = "col-md-12 subTitle">
		 			<%= x.title %>
		 		</div>
		 	</div>
		 	<div class = "row">
		 		<div class = "col-md-8">
		 			<%= x.text %>
		 		</div>
		 		<div class = "col-md-4">
		 			<%=image_tag x.thumbnail.url%>
		 		</div>
		 	</div>
	 	<%end%>
	 <%end%>
	 
	 <div class = "row">
 		<div class = "col-md-12 title">
 			Related Mechanics
 		</div>
 	</div>

	 <div class = "row">
	 	<ul>
			<% @related.each do |x| %>
				<%if x.title != nil%>
					<li>
						<%= link_to x.title, x.mechanic %>
					</li>
				<%end%>
			<%end%>
		</ul>
	</div>

	<div class = "row">
 		<div class = "col-md-12 title">
 			Keywords
 		</div>
 	</div>

	<div class = "row">
		<div class = "col-md-12">
			<ul>
				<% @keywords.each do |x| %>
						<%if x.title != nil %>
							<li><%=link_to x.title, x %></li>
						<%end%>
				<%end%>
			</ul>
		</div>
	</div>
	
	<div class = "row">
 		<div class = "col-md-12 title">
 			Additional Information
 		</div>
 	</div>

 	<div class = "row">
	 	<ul>
			<% @notes.each do |x| %>
				<%if x.text != nil%>
					<li>
						<%= x.text %>
					</li>
				<%end%>
			<%end%>
			<% @examples.each do |x| %>
				<%if x.text != nil%>
					<li>
						<a href= <%=x.text%> > <%= "learn more about #{x.title} here!"%> </a>
					</li>
				<%end%>
			<%end%>
		</ul> 

	</div>




 </div>